{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}我的消息{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="mymessage" %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-carousel">
</div>

{% endblock splash %}
<!-- Benefits of the Django application -->
{% block container %}
<table>
  <tbody>
  {% for message in object_list %}
  {{ message }}
  {% endfor %}
  </tbody>
</table>

{% endblock container %}

{% block scripts %}
{{block.super}}
{% endblock scripts %}
