{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}学生列表{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="student-list" %}
{% endblock %}

{% block styles %}
{{ block.super }}
<style type="text/css">
    tr:hover{
        background-color: #ffa;
    }
</style>
{% endblock styles %}

{% block splash %}
<div class="jumbotron jumbotron-carousel" style="padding-top: 80px">
<div class="container">
    <a>所在城市:</a>
    <select class="selectpicker" id="city">
        <option value="">--</option>
        {% for city in cities %}
            {% if chose_city == city.id %}
                <option value="{{ city.id }}" selected>{{ city.name }}</option>
            {% else %}
                <option value="{{ city.id }}">{{ city.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <a>年级:</a>
    <select class="selectpicker" id="grade">
        <option value="">--</option>
        {% for grade in grades %}
            {% if chose_grade == grade.id %}
                <option value="{{ grade.id }}" selected>{{ grade.title }}</option>
            {% else %}
                <option value="{{ grade.id }}">{{ grade.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
</div>
{% endblock splash %}

{% block container %}
<a>选择科目:</a>
{% for subject in subjects %}
<span>
    {% if subject.id in chose_sub %}
        <input name="subject" type="checkbox" value="{{subject.id}}" checked/>
    {% else %}
        <input name="subject" type="checkbox" value="{{subject.id}}"/>
    {% endif %}
    <label for="subject">{{ subject.title }} </label>
    </span>
{% endfor %}
<input type="button" onclick="genFilter();" value="筛选学生" />
{% if object_list|length == 0 %}
    <h2>对不起!没有符合您要求的学生.</h2>
{% else %}
    <table>
        <tbody>
    {% for student in object_list %}
        <tr>
        <td>
            <div>
            <a href="{% url 'student-detail' student.id %}">
                <img class="img-square centered" width="142" height="142" align="left" src="/media/{{ student.picture }}">
            </a>
            </div>
            <div style="padding-left: 200px">
                <h3>
                    {{ student.full_name }} {{ student.school }}
                </h3>
                <p>
                    科目:
                    {% for sub in student.subjects.all %}
                    <a>{{ sub.title }}</a>
                    {% endfor %}
                </p>
            </div>
        </td>
        <td>
            <div class="control">
                <a href="{% url 'student-detail' student.id %}" target="_blank" alt="detail" title="detail" class="btn btn-control">查看TA</a>
            </div>
        </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock container %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
    function genFilter() {
        var checkboxes = document.querySelectorAll('input[name="subject"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function(el) {
            values.push(el.value);
        });
        var url = window.location.href;
        url = url.split("?")[0];
        url += "?subject=" + values;
        var city = $("#city").val();
        if (city != '') url += "&city=" + city;
        var grade = $("#grade").val();
        if (grade != '') url += "&grade=" + grade;
        window.location.href = url;
    }
</script>
{% endblock %}
