{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}老师资料{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="search_teacher" %}
{% endblock %}

{% block styles %}
<style>
  span.stars, span.stars span {
  display: block;
  background: url(/media/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
  }

  span.stars span {
  background-position: 0 0;
  }
</style>
{% endblock styles %}

<!-- Benefits of the Django application -->
{% block splash %}
<div class="jumbotron jumbotron-carousel corporate-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8" style="text-align:center">
        <div class="text-center"><img class="img-circle centered" src="/media/{{ teacher.picture }}" alt="profile pic"></div>
        <!--<center>-->
        <h1>{{ object.full_name }}</h1>
        <p>{{ object.school }}</p>
        <p>
        {% for subject in object.subjects.all %}
           <strong>{{ subject }}</strong>
        {% endfor %}
        </p>
        <div style="position: absolute;right: 80px; top: 350px">
        <p style="color:red;">{{ object.level }}</p>
        <p style="color:red;">{{ object.price }}元/小时</p>
          </div>
        <p/>
          <!--</center>-->
      </div>
      <div class="col-md-4 col-sm-4">

      </div>
    </div>
  </div>
</div>
{% endblock splash %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>认证战绩</h1>
      <p>{{ object.achievement }}</p>
    </div>
    <div class="col-lg-4">
      <h1>自我介绍</h1>
      <p>{{ object.description }}</p>
    </div>
    <div class="col-lg-4">
    <table>
      <tbody><tr>
        <th></th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
        <th>日</th>
      </tr>
      <tr id="morning">
        <th>上午</th>
        <td class="active">
          <i class="fa fa-check-circle"></i>
        </td>
        <td class="active">
          <i class="fa fa-check-circle"></i>
        </td>
        <td class="active">
          <i class="fa fa-check-circle"></i>
        </td>
        <td class="active">
          <i class="fa fa-check-circle"></i>
        </td>
        <td class="active">
          <i class="fa fa-check-circle"></i>
        </td>
        <td>
          <i class="fa fa-check-circle"></i>
        </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                            </tr>
      <tr id="afternoon">
        <th>下午</th>
        <td>
          <i class="fa fa-check-circle"></i>
        </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                            </tr>
      <tr id="night">
        <th>晚上</th>
        <td>
          <i class="fa fa-check-circle"></i>
        </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                                        <td>
        <i class="fa fa-check-circle"></i>
      </td>                            </tr>

      </tbody></table>
    </div>
    <div class="col-lg-4">
      <h1>家长点评</h1>
      {% for rate in object.rating_set.all %}
      <p>
        <strong>{{ rate.get_hidden_mobile }}</strong>: <span style="float:right" class="stars">{{rate.star}}
      </span></p>
      <p>{{ rate.comment }}</p>
      {% endfor %}
      <p><a class="btn btn-primary" href="#" role="button">更多点评 &raquo;</a></p>
    </div>
  </div>
</div>

<center>
<a class="btn btn-primary" style="width:400px;" href="{% url 'accounts:signup' %}" role="button">预约</a>
</center>

{% endblock container %}

{% block scripts %}
<script>
$.fn.stars = function() {
  return $(this).each(function() {
    $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
  });
}
$(function() {
    $('span.stars').stars();
});
</script>
{% endblock scripts %}

