{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}难题列表{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="problem-list" %}
{% endblock %}

{% block styles %}
{{ block.super }}
<style type="text/css">
  tr:hover{
  background-color: #ffa;
  }
</style>
{% endblock styles %}


{% block splash %}

{% endblock splash %}

{% block container %}
<br/>
<br/>
<br/>
<br/>
<br/>
<table>
  <tbody>
    {% for problem in object_list %}
    <tr>
    <td>
      <div>
        <h2>{{ problem.title }}</h2>
      </div>
    </td>
    <td>
      <div>
        <p>{{ problem.description }}</p>
      </div>
    </td>
    <td>
      <a href="{% url 'problem-detail' problem.id %}">
        {% if problem.picture %}
        <img class="img-square centered" width="252" height="142" align="left" src="/media/{{ problem.picture }}">
        {% endif %}
      </a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock container %}

{% block scripts %}
{{block.super}}
{% endblock scripts %}
